@charset "utf-8";
@import '../px/px2rem.scss';


$designWidth : 750;
*{
	padding: 0;
	margin: 0;
}

body{
	width: 16rem;
	margin: 0 auto;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	font-size: 0.14rem;
	width: 100%;
	height: px2rem(52);
	line-height: px2rem(52);
    background-color: #ff552e;
    color: #fff;
    text-align: center;
    .topLeft{
    	width: 4rem;
    }
    .topRight{
    	width: 4rem;
    	a{
    		text-decoration: none;
    		color: #fff;
    	}
    }
	.topSeatch{
		width: 8rem;
		text-align: center;
		input{
			color: #FFDAD3;
			background: #FF7657;
			position: relative;
			top: px2rem(-3);
			border:none;
			width: 100%;
			border-radius: px2rem(5);
			font-size: px2rem(13);
			line-height: px2rem(38);
			vertical-align:middle;
		}
		input::-webkit-input-placeholder {
        color: #FFDAD3;
     	text-align: center;
    }
	}
}